
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

        body {
            
            margin: 0;
            padding: 0;
            background-color: rgba(48, 5, 189, 0.893);
        }
        

        .contenedorgeneral{
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        /* ------------------------------------ */
        .inicio{
            height: 10.7%;
            background: rgb(0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
            
        }
        .inicioText{
            color: rgb(184, 187, 191);
            font-family: "Silkscreen", sans-serif;
            letter-spacing: -4px;
            margin-top: 0.7%;
            font-size: 6vh;
        }
        .conteinerBt{
            width: 20%;
            margin-left: 50%;
            /* background-color: aqua; */
            justify-content: center; 
            align-items: center; 
            text-align: center;
            padding: 1%;
            display: flex;
            position: relative; 
            text-align: center;
            position: static;
            z-index: 2;
        }
        .boton {
          
            height: 42px;
            width: 250px;
            padding: 10px 20px;
            background: rgba(0, 0,0,0) ;
            font-size: 110%;
            color: rgb(184, 187, 191);
            border: none;
            border-radius: 20px;
            cursor: pointer;
            /* margin-left: 10px; */
            /* margin-top: 2%; */
            transition: background-color 0.3s ease;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            /* letter-spacing: -4px; */
            font-size: 20px;
           
            

        }
        /* .boton:hover{
            background-color: #1565c0 ;

        } */
        .icon{
            filter: invert(80%);
        }
        
        
        /* ---------------------------------------------------------------- */
        .caja{
            height: 83.5%;
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
        
        img{
            /* width: 100px; */
            position: absolute;
        }
        .image-4{
            width: 100%;
            margin: 0;
            z-index: -1;

        }
        .image-1{
            width: 220vh;
            z-index: 1;
        }
        .image-2{
            width: 200vh;
            z-index: 1;
        }
        .image-3{
            width: 200vh;
            z-index: 1;
        }

     
        /* ------------------------------------------------------------------- */
        .final{
            display: flex;
            align-items: center; 
            justify-content: center;
            position: relative;
            text-align: center;
            background: black;
            height: 6.5%;
            color: white;
        }
        .divdendonacion {
            margin-top: 1px;
            width: 100%;
            font-size: 17px;
            color: rgb(184, 187, 191);
            position: absolute; 
            
        }

   