
    body{
        background-color: rgba(0, 0, 0,0.99);
        padding: 0px;
        margin: 0px;
    }
    
    .contenedorOpciones {
        background-color: rgb(0, 0, 0);
        display: flex;
        height: 90vh; 
        width: 16%;
        flex-direction: column;
        transition: width 1s;
        color: rgb(184, 187, 191);
    }
    /* .contenedorOpciones:hover{
        width: 13%;
    } */

    .opcionnes {
        height: 5vh;
        width: 100%;
        
    }
    .options {
        display: none;
        margin-top: 10px;
        /*position: relative;
        z-index: 1;*/
        border: none;
        position: relative;
        overflow: hidden;
    }

    .options button {
        margin-left: 15%;
        margin-top: 5px;
        width: 50%;
        text-align: left;
        border: none;
        color: rgba(206, 213, 221,0.8);
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    }

    #showOptionsBtn, #showTree{
        height: 6vh; 
        background: rgba(13, 71, 161,0.9);
        border:1px solid rgba(255,255,255,1);
        color: rgb(184, 187, 191);
        border: none; 
        border-radius: 5px; 
        padding: 5px 20px; 
        font-size: 14px; 
        cursor: pointer; 
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: background-color 0.3s ease;
    }
    #showOptionsBtn:hover{
        background-color: #1565c0 ;
    }
    

    .opcionBoton{
       
        display: block;
        padding: 13px 25px;
        background: rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        min-width:20%;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;   
        display: block;
        transition: background-color 0.3s ease;
        transition: opacity 1s ease;
    }
    .opcionBoton:hover{
        background-color: #104e96 ;
    }

    .radios {
        position: relative;
        margin-top: 30px;
        transition: margin-top 0.3s ease; 
        
    }

    .radios {
        display: block;
        margin-bottom: 20px;
        color: rgb(184, 187, 191);
        font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .radio-item [type="radio"]{
        display: none;
    }

    .radio-item + .radio-item{
        margin-top: 10px;
    }
    .radio-item label{
        
        display: block;
        padding: 15px 60px;
        /* background: rgba(13, 71, 161,0.6); */
        /* border:1px solid rgba(255,255,255,0.1); */
        border-radius: 6px;
        cursor: pointer;
        font-size: 14.2px;
        font-weight: 400;
        min-width: 20%;
        white-space: nowrap;
        position: relative;
    }
    .radio-item label:after,
    .radio-item label:before{
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    .radio-item label:after{
        height: 20px;
        width: 20px;
        border:2px solid rgba(206, 213, 221,0.8);
        left: 20px;
        top: calc(50% - 12px);
        
    }
    .radio-item label:before{
        background: rgba(206, 213, 221,0.8);
        height: 20px;
        width: 20px;
        left: 22px;
        top: calc(50% - 10px);
        transform: scale(2);
        transition: .4s ease-in-out 0s;
        opacity: 0;
        visibility: hidden;
        
    }
    .radio-item [type="radio"]:checked ~ label{
        border-color: #0d47a1;
        
    }

    .radio-item [type="radio"]:checked ~ label:before{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        
    }
    .radio-item{
        transition: background-color 0.2s ease;
       
    }
    .radio-item:hover{
        background-color: #1565c0 ;
    }
    /*---------------------------------------------------------------------------------*/
    .ContenedorGeneral{
        /* background-color: blueviolet; */
        height: 100vh;
        overflow: hidden;
    }
   
    .ContenedorGeneral-inicio{
        /* background-color: burlywood; */
        height: 12%;
        background: black;
        
    }
    .contenedorBotonocultar{
        /* background-color: aqua; */
        width: 50%;
        margin: auto;
        justify-content: center; 
        align-items: center; 
        text-align: center;
        padding: 1%;
        display: flex; 
        position: relative;
        text-align: center;
        position: static;
        
        
    }
    .ContenedorGeneral-de-elementos{
        display: flex;
        width: 100%;
        height: 82%;
        /* overflow: hidden; */
        
    }
    .ContenedorGeneral-final {
        
        height: 6%;
        margin-bottom: 20px;
        /* padding-top: 10px; */
        display: flex; 
        align-items: center; 
        justify-content: center; 
        position: relative;
        text-align: center;
        background: black;
    }

    .divdendonacion {
        width: 100%;
        font-size: 17px;
        color: rgb(184, 187, 191);
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
    }

    .container {
        width: 275%;
        display: flex;
        /* background-color: #72ad77; */
        justify-content: center;
        height: 100%;
        width : 85%;
        margin-left: auto;
        margin-right:auto;
        overflow: hidden;  
        
    }

    .boxContainer {
        position:relative;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
        border:  1px solid rgba(0, 0, 0, 1);
        background-color: #101111;
    }
    .boxInfo{
        font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 20px;
        background-color: rgba(16, 17, 17, 0.7);
        padding: 10px;
        border-radius: 10px;
        color: rgb(204, 209, 214);
        cursor: pointer;
        transition: transform 1s ease;;
    }
    .boxInfo:hover {
        transform: scale(1.09); 
    }
    .box{
        border:  1px solid rgba(0, 0, 0, 1);
        border: none;
        width: 100%; 
        height: 100%;
        display: block; 

    }
    .boxLock{
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        color: white; 
        top: 10px;
        right: 10px;
        cursor: pointer;
        
    }
    /* img{    
        filter: invert(70%);
    } */
    /*-----------------------Botones Incio---------------*/
    .boton {

        height: 42px;
        width: 100px;
        padding: 10px 20px;
        background: #0d47a1 ;
        font-size: 110%;
        color: rgb(184, 187, 191);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 2%;
        transition: background-color 0.3s ease;

        
    }
    .boton:hover{
        background-color: #1565c0 ;
       
    }
    /*-------------------final-----------------------*/
    #icon{
        
        transition: transform 0.3s ease;
    }
    .icon{
        filter: invert(80%);
    }
    #donacion{
        cursor: pointer;
    }
    @media screen and (max-width: 500px){
        .ContenedorGeneral-de-elementos{
            height: 78%;
            overflow: scroll;
            
        }
        .container{
            position: relative;
            overflow: scroll;
            height: 120vh;
            width: 100%;
            align-items: center;
            
        }
        .boxContainer{
            overflow: visible;
            height: auto;
            width: auto;
            display: flex;  
        }
        .box{
            height: 100%;
            width: 100%;
        }
        /* --------------------- */
        .contenedorBotonocultar{
            padding: 8%;
        }
        .ContenedorGeneral-final{
            height: 10%;
            z-index: 3;
        }

        .contenedorOpciones {
            position: absolute;
            background-color: rgb(0, 0, 0);
            display: flex;
            height: 90vh; 
            width: 50%;
            flex-direction: column;
            transition: width 1s;
            z-index: 2;
        }
    }

