#contenedorInfo{
    /* margin-top: 0vh; */
    /* padding: 10px; */
    padding-top: 15px;
    width: 90%;
    height: auto;
    /* background-color: aqua; */
    margin: 0 auto;
    transition: width 4s;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}


.contenSelct{
    display: inline-block;
    /* background-color: aqua; */
    width: 23%;
}

/* .contenedorArboles{
    height: auto;
    padding: 0;
    margin: 0;
} */
.radio, .inputIngresodato, .botonGuardado{
    margin-top: 5px;
}
.inputIngresodato{
    
    width: 30%;
    height: 25px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    color: #404448;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(204, 209, 214); */
    outline: none;
    padding: 5px;
    font-size: 16.5px;
    margin-left: 2px;
}

.botonGuardado{
    margin-left: 2px;
    width: 32%;
    height: 39px;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    font-size: 14px;
    border: none;
    color: rgb(209, 215, 224);;
    background-color: #1565c0;
    border-radius: 5px;
    cursor: pointer;
}
.contenIngresoDato{
   display: flex;
    
}
.botonGuardado:hover{
    background-color: #28609f;
}
/* .contenSelct{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.radio{
    border: 2px solid white;
    border-radius: 0;
    outline: none;
    appearance: none;
    display: none;
}

label{
    /* transition: background-color 0.3s ease; */
    cursor: pointer;
}

/* label:hover{
    border-bottom: 2px solid  #2073d1 ;
} */


#selecradio1:checked ~ .label1,
#selecradio2:checked ~ .label2,
#selecradio3:checked ~ .label3,
#selecradio4:checked ~ .label4{
    /* background-color: #1a4f8b; */
    border-bottom: 3px solid #1a4f8b;
    filter: invert(0%);
    
} 

 .label1, .label2, .label3, .label4{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    filter: invert(70%);
    
}
input[type="radio"]:first-child:checked + .label1 {
    /* border-bottom: 3px solid #1a4f8b; */
    filter: invert(70%);
}
/* --------------------------- */
#contenedorID{
    margin-top: 1px;
    padding: 1vh;
    /* background-color: saqua; */
    border: #01244c;
    width: 96%;
    height: auto;
    
}
.contenLand{
    margin-top: 1vh;
    padding: 2vh;
    background-color: #01244c;
    display: flex;
    justify-content: space-between;

}
.idLand{
    font-size: 100%;
    /* background: rgb(14, 176, 176); */
    font-family:   Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
.tempLand{
    font-size: 100%;
    color: rgba(20, 163, 63, 0.822);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
.botonpausar, .botonEliminar{
    margin-left: 3px;
    cursor: pointer;
}
.botonEliminar{
    background-color: #3135a8;
}
.botonEliminar:hover{
    background-color: rgba(24, 6, 106, 0.5);
}

